{{extend 'layout.html'}}
{{dict=[]}}
{{Count=0}}
<div align="center">
<br></br>
<font size="5"><b>10 Most Played Songs</b></font>


</div>
<ul>
<table>
{{for song in song_played:}}


{{if Count == 10 : }}
{{break;}}
{{pass}}    

{{if song.gana not in dict:}}
{{dict.append(song.gana)}}

{{#Count=Count-1}}

<tr>
<td width="20%"></td>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<td width="58%">&nbsp;<font size="3">&nbsp;Name Of Song : {{=A(song.Name,_href=URL(r=request, f="song_details", args=song.gana))}}</td> &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <td width="22%">&nbsp;Times Played : {{=song.view}}</font></td> &nbsp;&nbsp;&nbsp 
</tr>
{{Count = Count+1}}
{{pass}}
{{pass}}
</ul>
</table>
